*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

input{
    display: flex;
    text-transform: uppercase;
    width: 300px;
    padding: 1vh;
   
}

button{
    display: flex;
    text-transform: uppercase;
    width: 90px;
    background-color: coral;
    color: #fefefe;
    border: 4px solid coral;
    border-radius: 6px;
    padding: 1vh;
    justify-content: center;
    align-items: center;

}